@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.rdrDefinedRangesWrapper {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 640px) {
  .submit-btn {
    margin-top: 20px;
  }
  .arrow-left-right {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mobile-break {
    display: none;
  }
}